<footer class="footer sm:footer-horizontal bg-[color:var(--off-white)] p-10 flex justify-center">
    <div class="w-full flex justify-evenly items-center">
        <nav class="text-center flex flex-col items-start">
            <h6 class="footer-title text-[color:var(--primary-red)]">Services</h6>
            <a class="link link-hover text-[color:var(--dark-text)]">Branding</a>
            <a class="link link-hover text-[color:var(--dark-text)]">Design</a>
            <a class="link link-hover text-[color:var(--dark-text)]">Marketing</a>
            <a class="link link-hover text-[color:var(--dark-text)]">Advertisement</a>
        </nav>
        <nav class="text-center flex flex-col items-start">
            <h6 class="footer-title text-[color:var(--primary-red)]">Company</h6>
            <a class="link link-hover text-[color:var(--dark-text)]">About us</a>
            <a class="link link-hover text-[color:var(--dark-text)]">Contact</a>
            <a class="link link-hover text-[color:var(--dark-text)]">Jobs</a>
            <a class="link link-hover text-[color:var(--dark-text)]">Press kit</a>
        </nav>

    </div>
</footer>
