---
import Layout from "../layouts/Layout.astro";
import PersonalDetailsForm from "../components/PersonalDetailsForm.astro";
import PricingSection from "../components/PricingSection";
// Handle form submission on the server
if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const data = Object.fromEntries(formData.entries());

	// You can now send this data to your API or handle it as needed
	const response = await fetch("http://localhost:3000/api/user/register", {
		method: "POST",
		headers: { "Content-Type": "application/json" },
		body: JSON.stringify(data),
	});

	if (response.ok && response.status === 201) {
		// Redirect to success page
		return Astro.redirect("/success");
	}
	const message = await response.text();
	// You can set an error variable here to display in the UI
	throw new Error(`Registration failed: ${message}`);
}
---

<Layout>
  <div class="flex items-center justify-center min-h-screen bg-off-white">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
      <h2 class="text-2xl font-bold text-primary-red mb-6 text-center">
        Join the Living Fit Club!
      </h2>

      <PricingSection client:load/>
      <form id="signup-form" method="post">
        <PersonalDetailsForm/>
        <!-- Hidden input to include the selected location in the form submission -->
        <input
          type="hidden"
          name="locationId"
          onchange=""
        />
        <div class="flex items-center justify-between">
          <button class="btn btn-primary" type="submit">
            Sign Up
          </button>
          <a
            class="inline-block align-baseline font-bold text-sm text-primary-red hover:text-secondary-red cursor-pointer"
            onclick="login_modal.showModal()"
          >
            Already have an account?
          </a>
        </div>
      </form>

      <p class="text-center text-dark-text text-xs mt-4">
        &copy; {new Date().getFullYear()} Living Fit Club. All rights reserved.
      </p>
    </div>
  </div>
</Layout>