---
export const prerender = false;
import QRCodeComponent from "@/components/QR_Code";
import Layout from "@/layouts/Layout.astro";
import Payment from "@/components/Payment.tsx";
import ReportInput from "@/components/Report_Input.astro";
import FamilyMembers from "@/components/Family_Members";
import UserDetails from "@/components/Member";
import jwt from "jsonwebtoken";
const token = Astro.cookies.get("living_fit_token")?.value;

const memberId = jwt.verify(token, "skrrt")?.userId;
---

<Layout>
<div class="tabs tabs-box">
  <input type="radio" name="tab" class="tab" aria-label="QR Code" checked="checked" />
  <div class="tab-content bg-base-100 border-base-300 p-6"><QRCodeComponent client:load /></div>

  <input type="radio" name="tab" class="tab" aria-label="Information" />
  <div class="tab-content bg-base-100 border-base-300 p-6"><UserDetails memberId={memberId} client:load/></div>

  <input type="radio" name="tab" class="tab" aria-label="Family Members" />
  <div class="tab-content bg-base-100 border-base-300 p-6"><FamilyMembers client:load></div>

  <input type="radio" name="tab" class="tab" aria-label="Report an issue" />
  <div class="tab-content bg-base-100 border-base-300 p-6"><ReportInput/></div>

  <input type="radio" name="tab" class="tab" aria-label="Payments and fees" />
  <div class="tab-content bg-base-100 border-base-300 p-6"><Payment memberId={memberId}  client:load/></div>
</div>
</Layout>
