@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default
}

:root {
    --primary-red: #dc2626;
    /* Tailwind red-700 */
    --secondary-red: #ef4444;
    /* Tailwind red-500 */
    --light-red: #fecaca;
    /* Tailwind red-200 */
    --primary-white: #ffffff;
    /* Tailwind white */
    --off-white: #f8fafc;
    /* Tailwind gray-50 */
    --dark-text: #1f2937;
    /* Tailwind gray-800 */
    --medium-text: #4b5563;
    /* Tailwind gray-600 */
    --light-text: #6b7280;
    /* Tailwind gray-500 */
}

body {
    @apply bg-[color:var(--primary-white)] text-[color:var(--dark-text)];
}

/* Heading styles */
h1,
h2,
h3 {
    @apply text-[color:var(--primary-red)];
}

/* Default text color for normal text */
p,
span,
div {
    @apply text-[color:var(--dark-text)];
}
